*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:"navbar navbar navbar"
                        "main   main   main"
                        "footer footer footer";
}
.imgMain{
    width: 200px;
    transition: all 1s;
}
.imgMain:hover{
    transform: translate(20px,5px) rotate(360deg);
}
.navbar{
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbar ul{
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: rgb(134, 0, 0);
}
.navbar ul li{
    padding: 10px;
}
.navbar ul li a{
    color: white;
    border-right: 1px solid #fff;
    padding-right: 8px;
}
.main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main p{
    padding: 25px;
}
.footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redes{
    margin: 25px;
}
.footer h5{
    margin: 15px 0px;
}
.footer h3{
    margin-bottom: 15px;
}

@media(min-width:576px){
    .navbar ul{
        align-items: center;
    }
    .main{
        flex-direction: row;
    }
    .main p{
        order: 2;
    }
    .main img{
        order: 1;
        padding: 20px;
    }
    .footer{
        flex-direction: row;
        justify-content: space-around;
    }
    .redes{
        order: 3;
    }
    .footer h3{
        margin: 0;
        order: 2;
    }
    .footer h5{
        order: 1;
    }

}